<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ddddddd</title>
</head>
<body>

</body>
</html>


<div ng-controller="home" class="wat">
   <input class="keypad" ng-model="passcode" type="text" min="0" inputmode="numeric" pattern="[0-9]*" title="Non-negative integral number" disabled></input>
   <button ng-click="keypadclick('9')">9</button>
   <button ng-click="keypadclick('8')">8</button>
   <button  ng-click="keypadclick('7')">7</button>
   <button ng-click="keypadclick('6')">6</button>
   <button  ng-click="keypadclick('5')">5</button>
   <button  ng-click="keypadclick('4')">4</button>
   <button ng-click="keypadclick('3')">3</button>
   <button ng-click="keypadclick('2')">2</button>
   <button  ng-click="keypadclick('1')">1</button>
   <button ng-click="keypadclick()" class="enter"><</button>
   <div>
       <button ng-click="keypadclick('0')">0</button>
   </div>
</div>
