<div ng-controller="home" class="container baseballmargin">
    <table class="table is-bordered is-striped is-narrow">
        <thead>
            <tr>
                <th class="baseballsport">Sport</th>
                <th class="baseballlive">Live Event</th>
                <th class="baseballtime">Time</th>
                <!-- <th style="text-align: center" >Score</th>
                <th>Link</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ball in baseball">
                <td class="baseballalign"><i class="baseballicon"><img ng-src='{{ball.pic}}'/></i>  {{ball.sport}}</td>
                <td class="baseballalign"> {{ball.away}} @ {{ball.home}}</td>
                <td class="baseballalign">{{ball.time}}</td>
                <!-- <td style="text-align: center">0-0</td>
                <td class="is-link is-icon">
                    <a ng-href="#/heat">
                       <i class="fa fa-link"></i> -->
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
