<div  ng-controller="home">

    <div class="tabs is-centered">
        <ul>
            <li><a class="PfontL" href="/Channel1">ESPN</a></li>
            <li><a class="PfontL" href="/Channel2">MLB.TV</a></li>
        </ul>
    </div>

    <div id="overlay"></div>

    <div id="special">

        <div class="container sportmargin filmcontainer">
            <button class="button is-white" ng-click="theatreMode()"><i id="lightSwitch" ng-click="theatreMode()" alt="switch" title="Enter Theatre Mode" class="fa fa-film"></i><span style="margin-left:10px" class="PfontL">Theater Mode</span></button>
        </div>


        <div class="container playercontainer">

        <video id="really-cool-video" class="video-js vjs-default-skin channelplayer vjs-big-play-centered" controls preload="auto" width="640" height="360" poster="https://i.ytimg.com/vi/0SZdKBJMBiU/maxresdefault.jpg" data-setup='{}'>
            <source src="rtmp://server1.lastplay.live/live/test" type="rtmp/mp4">
            <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser
            that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>

        <div class="chat">
            <script id="cid0020000125012397192" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 240px;height: 360px;">{"handle":"lastplayussports","arch":"js","styles":{"a":"c0c0c0","b":98,"c":"000000","d":"000000","f":98,"i":98,"k":"c0c0c0","l":"c0c0c0","m":"c0c0c0","o":98,"p":"10.44","q":"c0c0c0","r":98,"t":0,"usricon":0,"cnrs":"0.35","fwtickm":1}} </script>
        </div>

    </div>

</div>
