
<div ng-controller='contact' style="margin-top:50px;width:420px" class="container">
    <label class="label">E-mail</label>
    <p class="control has-icon">
        <input style="width:400px"ng-model="email" class="input" type="text" placeholder="Email" name="email">
        <i class="fa fa-envelope"></i>
    </p>

    <label class="label">Message</label>
    <div style="width:400px"
    <p class="control">
        <textarea ng-model="contact" class="textarea" name="contact" placeholder="Send us a message!"></textarea>
    </p>
    </div>

    <p class="control">
        <button ng-click="message()" class="button is-success">Submit</button>
        <button ng-click="clear()" class="button is-outlined">Cancel</button>
    </p>
</div>
