<div class="container">
    <h1 class="title">
    Portland Trailblazers @ Golden State Warriors
    </h1>
    <h2>
        May 3, 2016
    </h2>
</div>

<div style="width:800px; margin-top:200px" class="container">
    <video width="800" controls poster="http://insider.ticketmaster.com/wp-content/uploads/2015-nba-playoffs-ticketmaster.png">
        <source src="http://zerocast.tv/embed.php?a=10&id=&width=700&height=480&autostart=true&strech=exactfit.mp4" type="video/mp4">
        <source src="http://zerocast.tv/embed.php?a=10&id=&width=700&height=480&autostart=true&strech=exactfit" type="video/ogg">
        Your browser does not support HTML5 video.
    </video>
</div>

<div style="margin-top:100px" class="container">
<table class="table">
  <thead>
    <tr>
      <th>Teams</th>
      <th>Record</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Miami Heat @ Toronto Raptors</td>
      <td>0-0</td>
      <td class="is-link is-icon">
        <a href="/heat">
          <i class="fa fa-link"></i>
        </a>
      </td>
    </tr>
    <tr>
      <td>Portland Trailblazers @ Golden State Warriors</td>
      <td>0-0</td>
      <td class="is-link is-icon">
        <a href="/gs">
          <i class="fa fa-link"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
</div>
