<div ng-controller="home" class="container sportmargin">
    <table class="table is-bordered is-striped is-narrow">
        <thead>
            <tr>
                <th class="sportsport">Sport</th>
                <th class="sportlive">Live Event</th>
                <th class="sporttime">Time</th>
                <!-- <th style="text-align: center" >Score</th>
                <th>Link</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ball in hockey">
                <td class="sportalign"><i class="sporticon"><img ng-src='{{ball.pic}}'/></i>  {{ball.sport}}</td>
                <td class="sportalign"> {{ball.away}} @ {{ball.home}}</td>
                <td class="sportalign">{{ball.time}}</td>
                <!-- <td style="text-align: center">0-0</td>
                <td class="is-link is-icon">
                    <a href="#">
                       <i class="fa fa-link"></i> -->
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
