<div  ng-controller="home">

    <div style="width:800px;margin-top:80px" class="container">
          <div id="player-wrapper"></div>
          <br>
          <br>
          <div id="player-wrapper2"></div>
    </div>

    <!-- <br>
    <div style="width:100px" class="container">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=27KP39953UT4N&lc=US&item_name=league%20of%20legends&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" class="button is-primary">Donations</a>
    </div> -->
</div>
