<div  ng-controller="home">
    <div style="width:940px;margin-top:50px"  class="container">
        <iframe width="700" height="450" src="https://www.youtube.com/embed/NOj6gaVFBD8" frameborder="0" allowfullscreen></iframe>
        <script id="cid0020000124601832227" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 230px;height:450px;">{"handle":"lastplay","arch":"js","styles":{"a":"7bbf51","b":100,"c":"000000","d":"000000","k":"7bbf51","l":"7bbf51","m":"7bbf51","p":"10","q":"7bbf51","r":100,"t":0,"usricon":0,"surl":0,"cnrs":"0.53","fwtickm":1}}</script>
    </div>
    <br>
    <div style="width:100px" class="container">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=27KP39953UT4N&lc=US&item_name=league%20of%20legends&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" class="button is-primary">Donations</a>
    </div>
</div>
<!-- <div id="video"></div>
<video src="http://localhost:1337/api/reddit/proxy?url=http://video-edge-836134.sfo01.hls.ttvnw.net/hls30/trescojones_21388201920_455075759/chunked/index-live.m3u8?token=id=614553183915019484,bid=21388201920,exp=1463687406,node=video-edge-836134-1.sfo01.hls.justin.tv,nname=video-edge-836134.sfo01,fmt=chunked&sig=e12fb9eb063be42fb49f2dfbd100420fee68d8b2&wow=.m3u8"></video>

<iframe src="http://www.twitch.tv" frameborder="0"></iframe> -->
