<div  ng-controller="home">

    <!-- <div class="tabs is-centered">
      <ul>
        <li><a href="/Channel1">ESPN</a></li>
    </div> -->

    <div style="width:600px;margin-top:80px" class="container">
        <div id="player-wrapper"></div>
    </div>

</div>
