

<div style="margin-top:100px" class="container">
    <div style="width:640px" class="container">
        <a href="/heat"><img src="/images/HeatvRaptors.jpg"/></a>
    </div>
    <div style="width:640px" class="container">
        <a href="/gs"><img style="width:640px; height:360px" ng-click="heat" src="/images/TBvGS.jpeg"/></a>
    </div>
</div>
