<div  ng-controller="home">

    <div class="tabs is-centered">
        <ul>
            <li><a class="PfontL" href="/Channel1">ESPN</a></li>
            <li><a class="PfontL" href="/Channel2">MLB.TV</a></li>
        </ul>
    </div>

    <div id="overlay"></div>

    <div id="special">

        <div class="container sportmargin filmcontainer">
            <span ng-click="theatreMode()">
                <i id="lightSwitch" alt="switch" title="Enter Theatre Mode" class="fa fa-film"></i>
                <span class="PfontL">  Theater Mode</span>
            </span>
        </div>


        <div class="container playercontainer">

            <video id=example-video width=640 height=360 class="video-js vjs-default-skin channelplayer vjs-big-play-centered " poster="https://i.ytimg.com/vi/Ei4nx1zZKbU/maxresdefault.jpg" controls>
              <source src="http://server1.lastplay.live/live/home/index.m3u8" type="application/x-mpegURL">
            </video>

            <script>
                var player = videojs('example-video');
            </script>

            <div class="chat">
                <script id="cid0020000125012397192" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 240px;height: 360px;">{"handle":"lastplayussports","arch":"js","styles":{"a":"c0c0c0","b":98,"c":"000000","d":"000000","f":98,"i":98,"k":"c0c0c0","l":"c0c0c0","m":"c0c0c0","o":98,"p":"10.44","q":"c0c0c0","r":98,"t":0,"usricon":0,"cnrs":"0.35","fwtickm":1}} </script>
            </div>

        </div>
    </div>

</div>
