<div ng-controller="home">
    <div class = "container">
        <div style="margin-top:50px" class="container" id="player"></div>
    </div>
    <br>
    <div style="width:100px" class="container">
        <a href="" class="button is-primary">Donations</a>
    </div>
</div>
