<div ng-controller='contact' class="container sportmargin">
    <div class="container invite">
      <div class="hero-body">
        <div class="container">
          <h1 class="title sportalign">
            <span class="PfontL">Invite a friend to watch the game live!<span>
          </h1>
        </div>
      </div>
    </section>
    </div>
    <div class="container invite">
        <p class="control has-icon">
            <input ng-model="email" class="input invite" type="email" placeholder="Email" name="email">
            <i class="fa fa-envelope"></i>
        </p>

        <p class="control">
            <button ng-click="invite()" class="button is-success">Submit</button>
            <button ng-click="clear()" class="button is-outlined">Cancel</button>
        </p>
    </div>
</div>
