<div ng-controller='contact' style="margin-top:100px" class="container">
    <div style="width:500px" class="container">
    <section style="width:500px" class="hero is-success">
      <div class="hero-body">
        <div class="container">
          <h1 style="text-align:center" class="title">
            Invite a friend to watch the game live!
          </h1>
        </div>
      </div>
    </section>
    </div>
    <div style="width:400px;margin-top:50px" class="container">
        <p class="control has-icon">
            <input style="width:400px" ng-model="email" class="input" type="text" placeholder="Email" name="email">
            <i class="fa fa-envelope"></i>
        </p>


        <p class="control">
            <button ng-click="invite()" class="button is-primary">Submit</button>
            <button ng-click="clear()" class="button is-outlined">Cancel</button>
        </p>
    </div>
</div>
