<% if (error_message) { %>
	<%= error_message %>
<% } %>

<div class="ltop container" ng-controller='login'>
	<form ng-submit="login()">
		<div class="container loglogo ">
			<img class="logopic loglogo" src="/images/logo.png"/>
		</div>

		<div class="container linput">
			<p class="control has-icon">
				<input class="input linputbar"  ng-model="username" type="text" placeholder="Username">
				<i class="fa fa-user"></i>
			</p>
		</div>

		<div class="container linput" >
			<p class="control has-icon linput">
				<input class="input linputbar" ng-model="password" type="password" placeholder="Password">
				<i class="fa fa-lock"></i>
			</p>
		</div>

		<div class="container lbu">
			<p>
				<a class="black forgot" ng-click="open()">Forgot Password?</a>
			</p>
			<p>
				<button class="button is-success lsb" value="submit" type="submit" class="padding">Submit</button>
			</p>
			<p>
				<a class="button is-dark lrb" href="/register" class="padding">Register</a>
			</p>
		</div>

		<div ng-class="modal">
			<div ng-click="open()" class="modal-background"></div>
			<div class="modal-card contactwidth">
				<header style="text-align:center" class="modal-card-head">
				  <p class="modal-card-title PfontL">Forgot Password?</p>
				  <button ng-click="open()" class="delete"></button>
				</header>
				<span class="modaltext PfontL">
				To reset your password, enter the email address you used to register on Lastplay!
				</span>
				<section class="modal-card-body">
					<p class="control has-icon">
						<input ng-model="emailpassword" class="input" type="email" placeholder="Email">
						<i class="fa fa-envelope"></i>
					</p>
				</section>
				<footer class="modal-card-foot">
					<div class="container mb">
						<a ng-click="recover()" style="width:300" class="button is-success">Send my Password</a>
					</div>
				</footer>
			</div>
		</div>
	</form>
</div>
