<div ng-controller= 'login' class="view">

	<% if (error_message) { %>
		<%= error_message %>
	<% } %>

	<header>
		<title>Login</title>
	</header>
	<img class="logopic" width="230px" src="/images/logo.png"/>

		<div class="form">
				<form ng-submit="submitInfo()">
					<div style="padding-top: 2px">
						<input style="width: 200px" ng-model="info.email" class="padding" type="text" placeholder="Email" name="email">
					</div>

				<!--	<div style="padding-top: 2px">
						<input ng-model="info.password" class="padding" type="password" placeholder="Password" name="password">
					</div> -->

					<div style="padding-top: 8px" class="input">
						<button class="submit" ng-click="emailsubmit()" class="padding">Submit</button>
					</div>
				</form>
		</div>

</div>
