
<% if (error_message) { %>
	<%= error_message %>
<% } %>

<head>
	<title>Login</title>
</head>
<body id="loginbody">
		<img id="logopic" width="230px" src="/images/logo.png"/>

			<div class="form">
					<form method="POST" action="/login">
						<div style="padding-top: 2px">
							<input class="padding" type="text" placeholder="Username" name="username">
						</div>

						<div style="padding-top: 2px">
							<input class="padding" type="password" placeholder="Password" name="password">
						</div>

						<div style="padding-top: 2px" class="input">
							<input class="padding" type="submit" value="Submit">
						</div>
					</form>
			</div>
</body>
