<div  ng-controller="login">

    <% if (error_message) { %>
    <%= error_message %>
                  <br>
                  <br>
    <% } %>

    <div class="sportmargin" >
        <div class="container recover">
            <p class="control has-icon">
                <input ng-model="password" type="password" class="input" placeholder="New Password">
                <i class="fa fa-lock"></i>
            </p>
        </div>

        <div class="container recover">
            <p class="control has-icon">
                <input ng-model="confirmPassword" type="password" class="input" placeholder="Confirm Password">
                <i class="fa fa-lock"></i>
            </p>
        </div>

        <div class="container recoversmall">
            <button ng-click="submitInfo()" class="button is-success recoversmall" type="submit" value="Submit">Submit</button>
        </div>

    </div>
</div>
