<div>
  <div style="margin-top:50px;width:350" class="container">
      <h1 style="text-align:center" class="title">
        Subscription Options
      </h1>
      <h2 style="text-align:center" class="subtitle">
        3 carefully structured plans to fit every need!
      </h2>
  </div>


    <section class="container" style="width:930" id="pricing-table">
        <div style="width:950px" class="pricing container">
            <div style="width:300px;float:left" class="col-md-4 col-sm-12 col-xs-12 container">
                <div class="pricing-table">
                    <div class="pricing-header">
                        <p class="pricing-title">1 month</p>
                        <p class="pricing-rate"><sup>$</sup>5<span style="font-size:22px;margin-bottom:20px">.95</span></p>
                        <p class="Pfont" style="font-size:30px;color:#7bbf51"> + 3 days free! </p>
                    </div>

                    <div class="pricing-list">
                        <ul>
                            <li style="margin-left:40px">
                                <form action="" method="POST">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_mD04U6bqTCyOjIXODlbxA4Am"
                                    data-amount="999"
                                    data-name="Lastplay"
                                    data-description="One month subscription"
                                    data-zip-code="true"
                                    data-image="https://cdn0.iconfinder.com/data/icons/large-glossy-icons/128/Go.png"
                                    data-locale="auto">
                                  </script>
                                </form>
                            </li>
                            <li>
                                <img style="width:200px" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="width:300px;float:left;margin-left:10px" class="col-md-4 col-sm-12 col-xs-12 container">
                <div class="pricing-table">
                    <div class="pricing-header">
                        <p class="pricing-title">3 months</p>
                        <p class="pricing-rate"><sup>$</sup>15<span style="font-size:22px;margin-bottom:20px">.95</span></p>
                        <p class="Pfont" style="font-size:30px;color:#7bbf51"> + One week free! </p>
                    </div>

                    <div class="pricing-list">
                        <ul>
                            <li style="margin-left:40px">
                                <form action="" method="POST">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_mD04U6bqTCyOjIXODlbxA4Am"
                                    data-amount="999"
                                    data-name="Lastplay"
                                    data-description="One month subscription"
                                    data-zip-code="true"
                                    data-image="https://cdn0.iconfinder.com/data/icons/large-glossy-icons/128/Go.png"
                                    data-locale="auto">
                                  </script>
                                </form>
                            </li>
                            <li>
                                <img style="width:200px" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div style="width:300px;float:left;margin-left:10px" class="col-md-4 col-sm-12 col-xs-12 container">
                <div class="pricing-table">
                    <div class="pricing-header">
                        <p class="pricing-title">6 months</p>
                        <p class="pricing-rate"><sup>$</sup>29<span style="font-size:22px;margin-bottom:20px">.95</span></p>
                        <p class="Pfont" style="font-size:30px;color:#7bbf51"> + Two weeks free! </p>
                    </div>

                    <div class="pricing-list">
                        <ul>
                            <li style="margin-left:40px">
                                <form action="" method="POST">
                                  <script
                                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                    data-key="pk_test_mD04U6bqTCyOjIXODlbxA4Am"
                                    data-amount="999"
                                    data-name="Lastplay"
                                    data-description="One month subscription"
                                    data-zip-code="true"
                                    data-image="https://cdn0.iconfinder.com/data/icons/large-glossy-icons/128/Go.png"
                                    data-locale="auto">
                                  </script>
                                </form>
                            </li>
                            <li>
                                <img style="width:200px" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>            <!-- <table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark"></a></td></tr></table><!-- PayPal Logo -->
</div>
