

html {
    background-color: #F2F2F2;
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: ProximaNova;
    src: url(/styles/fonts/ProximaNova-Semibold.otf);
}

a.link:hover {
    color: #97cd76;
    transition-delay: 1s;
}

.login {
    background-image: url("http://wallpapercave.com/wp/5di0MSA.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.div404 {
    margin-top:50px;
    width:400px;
}

.div414 {
    width:189px;
}

.baseballmargin {
    margin-top:50px;
}

.baseballsport {
    width:150px;
    text-align: center;
}

.baseballalign {
    text-align: center;
}

.baseballlive {
    width:600px;
    text-align: center;
}

.baseballtime {
    width:150px;
    text-align: center;
}

.baseballicon {
    width:20px;
}
