

a.link:hover {
    color: #97cd76;
    transition-delay: 1s;
}

html {
    background-color: #F2F2F2;
    background-size: cover;
    background-repeat: no-repeat;
}

.login {
    background-image: url("http://wallpapercave.com/wp/5di0MSA.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

@font-face {
    font-family: ProximaNova;
    src: url(/styles/fonts/ProximaNova-Semibold.otf);
}
