

html {
    background-color: #F2F2F2;
    background-size: cover;
    background-repeat: no-repeat;
}

@font-face {
    font-family: ProximaNova;
    src: url(/styles/fonts/ProximaNova-Semibold.otf);
}

@font-face {
    font-family: ProximaNovaL;
    src: url(/styles/fonts/ProximaNova-Light.otf);
}


a.link:hover {
    color: #97cd76;
    transition-delay: 1s;
}

.login {
    background-image: url("http://wallpapercave.com/wp/5di0MSA.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.div404 {
    margin-top:50px;
    width:400px;
}

.div414 {
    width:189px;
}

.sportmargin {
    margin-top:50px;
}

.sportsport {
    width:150px;
    text-align: center;
}

.sportalign {
    text-align: center;
}

.sportlive {
    width:600px;
    text-align: center;
}

.sporttime {
    width:150px;
    text-align: center;
}

.sporticon {
    width:20px;
}

.basketballicon {
    width:32px;
}

.channelplayer {
    float:left;
    width:640px;

}

.chat {
    float:left;
}

.contactwidth {
    width:400px;
}

.playercontainer {
    width:900px;
    margin-top: 5px;
}

.filmcontainer {
    width:900px;
}

.invite {
    width:500px;
}

.PfontL {
    font-family: ProximaNovaL;
}

.Pfont {
    font-family: ProximaNova;
}

.lm {
    margin-left: 10px;
}

.llogonav {
    width:147px;
}

.ppb {
    margin-right: 8px;
}

.ltop {
    width:250px;
    margin-top:100px;
}

.loglogo {
    width:230px;
}

.linput {
    padding-top: 2px;
    width: 230px;
}

.linputbar {
    width: 220px;
}

.forgot {
    text-align:center;
    width:200px;
    margin-left:45px;
    margin-top: 5px;
}

.black {
    color:black;
}

.lbu {
    padding-top: 8px;
    width: 220px
}

.lsb {
    width: 160px;
    margin-left: 20px;
    margin-top: 2px;
    text-align:center;
}

.lrb {
    width: 100px;
    margin-left: 50px;
    margin-top: 2px;
    text-align:center;
}

.modaltext {
    text-aligned:center;
    margin-left:10px;
    margin-top:10px;
    margin-right:10px;

}

.mb {
    width:310px;
}

.recover {
    width:300px;
    margin-top:7px;
}

.recoversmall {
    width:150px;
}

.regmain {
    margin-top:100px;
    width:300px;
}

.regh {
    width:185px;
    font-family:ProximaNova;
    font-size:50px;
}

.reghd {
    width:185px;
}

.regbox {
    width:300px;
    margin-top:7px
}

.regbut {
    width:150px;
    margin-top:7px;
}

.regw {
    width:150px;
}

.btn-custom {
  color: #bdc3c7;
  font-size: 18px;
  border: 1px solid #bdc3c7;
}

.btn-custom:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}


#overlay {
	display:none;
	z-index: 2;
	background-color:black;
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	text-align:center;
    opacity: 0.8;
}

#lightSwitch {
	position:relative;
	z-index: 3;
	cursor:pointer;
}

#special {
	position:relative;
	z-index: 4;
}

.pricingtable {
  padding-top: 50px;
}

.pricingtable-pricing {
  marign: 0;
  padding: 0;
  font-family: ProximaNovaL;
  width:950px;
}

.pricing-table-pricing-pricing-table {
  padding-bottom: 30px;
}

.pricing-header {
  position: relative;
  background: #2f4f4f;
  padding: 22px 22px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.pricing-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.pricing-rate {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  text-align: center;
}

.money {
  font-size: 24px;
  position: relative;
  top: -30px;
  color: #bdc3c7;
}

.cents {
  color: #bdc3c7;
  font-size:22px;
  margin-bottom:20px;
}

.pricing-list {
  padding: 20px 0 40px 0;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.pul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}

.pli {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  color: #bdc3c7;
  font-size: 16px;
  line-height: 42px;
}
